<div class="container bg-body-tertiary p-5 mt-5 rounded-4">
  <div class="row justify-content-center align-items-center text-center g-2">
    <div class="col-12">
      <h1>First Name: {{ customerData?.firstName }}</h1>
    </div>
    <div class="col-12">
      <h1>Last Name: {{ customerData?.lastName }}</h1>
    </div>
    <div
      class="col-12"
      *ngFor="let element of customerData.addresses; index as i"
    >
      <h1>
        Address {{ i + 1 }}: {{ element.streetNumber }}
        {{ element.streetName }} {{ element.city }} {{ element.state }}
        {{ element.zipCode }}
      </h1>
    </div>
    <div class="col-12">
      <app-navbutton routerLink="/createAccount" buttonName="Create Account" />
    </div>
  </div>
</div>
